:root {
    --navbar-height: 10%;
  }
    
    .navbar {
        margin-top: -0.5em;
        display: flex;
        align-items: center;
        justify-content:space-between;
        background-color: lightgray;
        position:sticky;
        top: 0;
        width: 100%;
        height: var(--navbar-height);
    }

    .navbar > div{
        margin: 0.5em;
        display: flex;
        align-items: center;      
    }

    .title{
        margin-left: 0.25em;
        font-size: 1.5em;
    }

    .image-scale{
        max-width:20%;
        max-height:20%;
    }

    .selection{
        font-size: 1.15em;
        margin-left: 0.5em;
    }

    .selection > div{
        font-size: 0.9em;
    }

    .selection > select{
        font-size: 1em;
        text-align: center;
        max-width: 100%;
    }

    

    .container {
        display: flex;
        flex-wrap: wrap;
      }

    .card{
        margin: 1em;
        padding: 1em;
        min-width:20em;
        border: 0.025em solid gray;
    }

    .card-title{
        text-align: center;
        font-size: 2em;
    }
      
    .card-image{
        margin: 1em;
        object-fit:contain;
        width:20em;
        height:20em;
    }