:root {
  --navbar-height: 10%;
  --background-main: red;
  --foreground-main: white;
  --border-slider: white;
  --background-slider: green;
  --box-slider: white;
  --border-feature-box: white;
  --background-item: white;  
}

/* Slider switch CSS */

.featureSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.featureSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.featureSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--border-slider) solid 0.008em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.featureSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--box-slider);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .featureSlider {
  background-color: var(--background-slider);
}

input:checked + .featureSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Navbar components CSS */

.navbar {
  margin-top: -0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-main);
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.navbar > div {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.navbar > div > div {
  margin-left: 0.25em;
  font-size: 2.5em;
  color: var(--foreground-main);
}

.navbar-menu {
  list-style: none;
  display: none; /* Hidden on mobile */
  flex-direction: column;
  width: 15em;
  background-color: var(--background-main);
  border: var(--border-feature-box) solid 0.008em;
  position: absolute;
  top: 4em;
  right: 0.5em;
}

.navbar-menu.active {
  display: flex;
}

.navbar-menu li a {
  text-decoration: none;
  color: var(--background-item);
  display: block;
  padding: 1rem;
}

.image-scale {
  max-width: 20%;
  max-height: 20%;
}

.selection {
  font-size: 1.15em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.selection > div {
  font-size: 1.1em;
  color: var(--foreground-main);
}

.selection > select {
  font-size: 1em;
  text-align: center;
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* Card components CSS */

.card {
  margin: 1em;
  padding: 1em;
  width: 22em;
  background-image: radial-gradient(circle, yellow 40%, white 65%);
}

.card-title {
  word-wrap: break-word;
  text-align: center;
  font-size: 2em;
  background-color: transparent;
}

.card-description {
  word-wrap: break-word;
  text-align: center;
  font-size: 2em;
  background-color: transparent;
}

.card-image {
  margin: 1em;
  object-fit: contain;
  width: 20em;
  height: 20em;
}

@media (min-width: 1130px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: static;
    background-color: transparent;
    border: none;
    gap: 15px;
  }

  .featureSwitch {
    display: none;
  }
}
